
<div class="vote-items">
  <mat-card class="example-card" *ngFor="let book of bookitems">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{book.Name}}</mat-card-title>
      <mat-card-subtitle>{{book.Author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{book.Cover}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{book.Summary}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="vote(book.Id)">投票</button>
    </mat-card-actions>
  </mat-card>
  <mat-card #item class="add-card">
      <img mat-card-image (click)="openDialog()" src="/assets/img/add.jpg" alt="Photo of a Shiba Inu">
  </mat-card>
</div>



