.header-table,table {
    width: 100%;
  }
  .header-table-container, .table-container{
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
  }

  mat-form-field{
    width: 100%;
  }
  .form-table{
    width:40%;
  }

