.example-icon {
    padding: 0 14px;
  }
  .nav-menu{
    width: 15rem;
  }
  .app-logo{
    margin-left: 30px;
  }

  .nav-header{
    position: fixed;
    z-index: 100;
  }
  .full-width{
    width: 100%
  }
  .menu-icon{
    margin-right: 40px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
 .nav-content{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 64px 0 0 0;
 }
 .aux-content{
   position: fixed;
   display: block;
   right: 0px;
   bottom: 200px;
   z-index: 999;
 }

