<mat-sidenav-container>
  <mat-sidenav mode="side" #drawer opened fixedInViewport="true" class="mat-elevation-z8">
    <mat-toolbar color="primary" class="nav-menu">
      <span class="app-logo">ANGULAR 应用</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="./editor">
          <mat-icon class="menu-icon">dialpad</mat-icon>
          <span class="full-width">编辑器</span>
      </mat-list-item>
      <mat-list-item routerLink="./guide">
        <mat-icon class="menu-icon">dialpad</mat-icon>
        <span class="full-width">支付交易历史</span>
      </mat-list-item>
      <mat-list-item  routerLink="./vote">
        <mat-icon class="menu-icon">voicemail</mat-icon>
        <span class="full-width">小说投票</span>
        <mat-icon>expand_more</mat-icon>
      </mat-list-item>
      <mat-list-item  routerLink="./chart">
        <mat-icon class="menu-icon">notifications_off</mat-icon>
        <span class="full-width">投票数据排行</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-header">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <span></span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="nav-content">
      <div class="aux-content">
        <a [routerLink]="[{outlets:{aux: 'consult'}}]">开始咨询</a>
        <a [routerLink]="[{outlets:{aux: null}}]">结束咨询</a> 
        <router-outlet name="aux"></router-outlet>
      </div>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>