.example-icon {
    padding: 0 14px;
  }
  .nav-menu{
    width: 240px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  .nav-header{
    position: fixed;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  .full-width{
    width: 100%
  }
  .menu-icon{
    margin-right: 40px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
 .nav-content{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 64px 0 0 0;
 }
 .aux-content{
   position: fixed;
   display: block;
   right: 0px;
   bottom: 200px;
   z-index: 999;
 }

